html,
body {
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

video {
  outline: none;
}

hr {
  background-color: #dbdbdb;
  border: none;
  height: 1px;
}

button,
input,
textarea {
  outline: none;
  border: none;
}
