* {
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  color: #030303;
}

@media (min-width: 640px) {
  html {
    background-color: #f9f9f9;
  }
}

body {
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

video {
  outline: none;
}

textarea {
  outline: none;
}

.text-primary {
  color: #030303;
}
.text-secondary {
  color: #606060;
}

button:focus {
  outline: none;
  border: none;
}

.themed-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.themed-scrollbar::-webkit-scrollbar-track {
  background: #fff;
  padding: 0 4px;
}

.themed-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

.themed-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #dbdbdb;
}

/* Document scrollbar */
.themed-scrollbar-main::-webkit-scrollbar {
  width: 16px;
}

.themed-scrollbar-main::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #030303;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
}

.spinner .path {
  stroke: rgb(147, 191, 236);
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.aspect-ratio {
  position: relative;
  max-width: 100%;
}

.aspect-ratio::before {
  height: 0;
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.aspect-ratio > *:not(style) {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.aspect-ratio > img,
.aspect-ratio > video {
  object-fit: cover;
}
